@model List<ResultAboutDto>
@foreach(var item in Model){
<section class="about_section layout_padding">
    <div class="container  ">

        <div class="row">
            <div class="col-md-6 ">
                <div class="img-box">
                    <img src="@item.imageUrl" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                                @item.title
                        </h2>
                    </div>
                    <p>
                            @item.description
                    </p>
                        <a href="/Menu/Index/">
                        Daha fazla bilgi
                    </a>
                </div>
            </div>
        </div>
         
    </div>
</section>
}