
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
@await Component.InvokeAsync("_LayoutHeaderPartialComponent")	 

<body>
	<div class="wrapper">
		@await Component.InvokeAsync("_LayoutNavBarPartialComponent")
		@await Component.InvokeAsync("_LayoutSideBarPartialComponent")
			<div class="main-panel">
			@RenderBody()
			@await Component.InvokeAsync("_LayoutFooterPartialComponent")
			</div>
		</div>



</body>
@await Component.InvokeAsync("_LayoutScriptsPartialComponent")
</html>
