@model List<ResultContactDto>
@foreach(var item in Model){
<footer class="footer_section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 footer-col">
                <div class="footer_contact">
                    <h4>
                       Bize Ulaşın
                    </h4>
                    <div class="contact_link_box">
                            <a href="https://g.co/kgs/zZKZLbi">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <span>
                                Lokasyon
                            </span>
                        </a>
                        <a href="">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <span>
                                @item.phoneNumber
                            </span>
                        </a>
                        <a href="">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <span>
                                @item.mailAdress
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 footer-col">
                <div class="footer_detail">
                    <a href="" class="footer-logo">
                        Restorant Adı
                    </a>
                    <p>
                            Keyifli bir yemek deneyimi arayanların vazgeçilmez adresi olan [Restoran Adı], lezzet tutkunlarını etkileyici bir yolculuğa çıkarıyor. Kaliteli malzemelerin ustaca harmanlandığı, şeflerimizin özenle hazırladığı yemeklerimizle damaklarınızı şenlendiriyor, unutulmaz anlar yaşatıyoruz.
                         

                    </p>
                        

                    <div class="footer_social">
                        <a href="">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-pinterest" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 footer-col">
                <h4>
                    Açılış Saatleri
                </h4>
                <p>
                    Her gün
                </p>
                <p>
                    9:00 - 20:00
                </p>
            </div>
        </div>
        <div class="footer-info">
            <p>
                    &copy; <span id="displayYear"></span> All Rights Reserved
                    <a href="https://html.design/">QrMenü</a><br><br>
                    &copy; <span id="displayYear"></span> Geliştiren
                    <a href="https://themewagon.com/" target="_blank">Soner Yeşilay</a>
                </p>
        </div>
    </div>
</footer>
}