
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
	<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
	<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
<script type="text/javascript">

	$(document).ready(() => {

		var connection = new signalR.HubConnectionBuilder().withUrl("https://localhost:7012/SignalRHub").build();
		$("#connstatus").text(connection.state);
		connection.start().then(() => {
			$("#connstatus").text(connection.state);
			setInterval(() => {
				connection.invoke("SendStatistic");
			}, 1000);

		}).catch((err) => { console.log(err) });

		connection.on("ReceiveCategoryCount", (value) => {
			$("#categorycount").text(value);
		});

		connection.on("ReceiveProductCount", (value2) => {
			$("#productcount").text(value2);
		});

		connection.on("ReceiveActiveCategoryCount", (value3) => {
			$("#activecategorycount").text(value3);
		});

		connection.on("ReceivePassiveCategoryCount", (value4) => {
			$("#passivecategorycount").text(value4);
		});

		connection.on("ReceiveProductCountByCategoryNameIkram", (value5) => {
			$("#productcountbynameikram").text(value5);
		});

		connection.on("ReceiveProductCountByCategoryNameTatli", (value6) => {
			$("#productcountbynametatli").text(value6);
		});

		connection.on("ReceiveProductPriceAvg", (value7) => {
			$("#productpriceavg").text(value7 + " ₺");
		});

		connection.on("ReceiveProductNameByPriceMax", (value8) => {
			$("#productnamebypricemax").text(value8);
		});

		connection.on("ReceiveProductNameByPriceMin", (value9) => {
			$("#productnamebypricemin").text(value9);
		});

		connection.on("ReceiveProductPriceByAvgKebab", (value10) => {
			$("#productpricebyavgkebab").text(value10 + " ₺");
		});

		connection.on("ReceiveTotalOrderCount", (value11) => {
			$("#totalordercount").text(value11);
		});

		connection.on("ReceiveActiveOrderCount", (value12) => {
			$("#activeordercount").text(value12);
		});

		connection.on("ReceiveLastOrderPrice", (value13) => {
			$("#lastorderprice").text(value13 + " ₺");
		});


		connection.on("ReceiveTotalMoneyCaseAmount", (value14) => {
			$("#totalmoneycaseamout").text(value14 + " ₺");
		});

		connection.on("ReceiveTodayTotalPrice", (value15) => {
			$("#todaytotalprice").text(value15 + " ₺");
		});

		connection.on("ReceiveMenuTableCount", (value16) => {
			$("#menutablecount").text(value16);
		});
	});															   

</script>
	   
<div class="content">
<div class="container-fluid">
<h4 class="page-title">Anlık İstatistik Sayfası</h4>
<div class="row">
	<div class="col-md-3">
		<div class="card card-stats card-warning">
			<div class="card-body ">
				<div class="row">
					<div class="col-5">
						<div class="icon-big text-center">
							<i class="la la-th"></i>
						</div>
					</div>
					<div class="col-7 d-flex align-items-center">
						<div class="numbers">
							<p class="card-category">Toplam Kategori</p>
									<h4 class="card-title" id="categorycount"></h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="card card-stats card-success">
			<div class="card-body ">
				<div class="row">
					<div class="col-5">
						<div class="icon-big text-center">
									<i class="la la-cutlery"></i>
						</div>
					</div>
					<div class="col-7 d-flex align-items-center">
						<div class="numbers">
							<p class="card-category">Ürün Sayısı</p>
							<h4 class="card-title" id="productcount"></h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="card card-stats card-danger">
			<div class="card-body">
				<div class="row">
					<div class="col-5">
						<div class="icon-big text-center">
									<i class="la la-check-circle"></i>
						</div>
					</div>
					<div class="col-7 d-flex align-items-center">
						<div class="numbers">
							<p class="card-category">Aktif Kategori</p>
									<h4 class="card-title" id="activecategorycount"></h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="card card-stats card-primary">
			<div class="card-body ">
				<div class="row">
					<div class="col-5">
						<div class="icon-big text-center">
							<i class="la la-close"></i>
						</div>
					</div>
					<div class="col-7 d-flex align-items-center">
						<div class="numbers">
							<p class="card-category">Pasif Kategori </p>
									<h4 class="card-title" id="passivecategorycount"></h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	<div class="row">
			<div class="col-md-3">
				<div class="card card-stats card-warning">
					<div class="card-body ">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<i class="la la-heart-o"></i>
								</div>
							</div>
							<div class="col-7 d-flex align-items-center">
								<div class="numbers">
									<p class="card-category">İkram Ürünleri</p>
									<h4 class="card-title" id="productcountbynameikram"></h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card card-stats card-success">
					<div class="card-body ">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<i class="la la-delicious"></i>
								</div>
							</div>
							<div class="col-7 d-flex align-items-center">
								<div class="numbers">
									<p class="card-category">Toplam Tatlı Sayısı</p>
									<h4 class="card-title" id="productcountbynametatli"></h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card card-stats card-danger">
					<div class="card-body">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<i class="la la-money"></i>
								</div>
							</div>
							<div class="col-7 d-flex align-items-center">
								<div class="numbers">
									<p class="card-category">Ortalama Ürün Fiyatı</p>
									<h4 class="card-title" id="productpriceavg">tl</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card card-stats card-primary">
					<div class="card-body ">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<i class="la la-star"></i>
								</div>
							</div>
							<div class="col-7 d-flex align-items-center">
								<div class="numbers">
									<p class="card-category">En Pahalı Ürün</p>
									<h4 class="card-title" id="productnamebypricemax"></h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3">
				<div class="card card-stats card-warning">
					<div class="card-body ">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<i class="la la-users"></i>
								</div>
							</div>
							<div class="col-7 d-flex align-items-center">
								<div class="numbers">
									<p class="card-category">En Ucuz Ürün</p>
									<h4 class="card-title" id="productnamebypricemin"></h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card card-stats card-success">
					<div class="card-body ">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<i class="la la-bar-chart"></i>
								</div>
							</div>
							<div class="col-7 d-flex align-items-center">
								<div class="numbers">
									<p class="card-category">Ortalama Kebab Fiyatı</p>
									<h4 class="card-title" id="productpricebyavgkebab"></h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card card-stats card-danger">
					<div class="card-body">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<i class="la la-check-circle"></i>
								</div>
							</div>
							<div class="col-7 d-flex align-items-center">
								<div class="numbers">
									<p class="card-category">Toplam Sipariş Sayısı</p>
									<h4 class="card-title" id="totalordercount"></h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card card-stats card-primary">
					<div class="card-body ">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<i class="la la-heart"></i>
								</div>
							</div>
							<div class="col-7 d-flex align-items-center">
								<div class="numbers">
									<p class="card-category">Aktif Sipariş Sayısı</p>
									<h4 class="card-title" id="activeordercount"></h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3">
				<div class="card card-stats card-warning">
					<div class="card-body ">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<i class="la la-beer"></i>
								</div>
							</div>
							<div class="col-7 d-flex align-items-center">
								<div class="numbers">
									<p class="card-category">Son Sipariş Tutarı</p>
									<h4 class="card-title" id="lastorderprice"></h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card card-stats card-success">
					<div class="card-body ">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<i class="la la-bank"></i>
								</div>
							</div>
							<div class="col-7 d-flex align-items-center">
								<div class="numbers">
									<p class="card-category">Kasadaki Tutar</p>
									<h4 class="card-title" id="totalmoneycaseamout"></h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card card-stats card-danger">
					<div class="card-body">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<i class="la la-cart-plus"></i>
								</div>
							</div>
							<div class="col-7 d-flex align-items-center">
								<div class="numbers">
									<p class="card-category">Bu Günki Kazanç</p>
									<h4 class="card-title" id="todaytotalprice"></h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-3">
				<div class="card card-stats card-primary">
					<div class="card-body ">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<i class="la la-table"></i>
								</div>
							</div>
							<div class="col-7 d-flex align-items-center">
								<div class="numbers">
									<p class="card-category">Toplam Masa Sayısı</p>
									<h4 class="card-title" id="menutablecount"></h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>


