@model CreateContactDto

@{
    ViewData["Title"] = "CreateContact";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Rezervasyon İşlemleri</h4>
		<div class="row">
			<div class="col-md-12">
				<form method="post">
					<div class="card">
						<div class="card-header">
							<div class="card-title">Yeni İletişim Bilgisi Ekleme</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="location">Konum</label>
								<input type="text" class="form-control" asp-for="location" id="location" placeholder="Konum">
							</div>
						</div>

						<div class="card-body">
							<div class="form-group">
								<label for="phoneNumber">Telefon Numarası</label>
								<input type="string" class="form-control" asp-for="phoneNumber" id="phoneNumber" placeholder="Telefon Numarası">
							</div>
						</div>

						<div class="card-body">
							<div class="form-group">
								<label for="mailAdress">Mail Adresi</label>
								<input type="email" class="form-control" asp-for="mailAdress" id="mailAdress" placeholder="Mail Adresi">
							</div>
						</div>

						<div class="card-body">
							<div class="form-group">
								<label for="footerDescription">Açıklama</label>
								<input type="text" class="form-control" asp-for="footerDescription" id="footerDescription" placeholder="Açıklama">
							</div>
						</div>

						<div class="card-action">
							<button class="btn btn-primary">İletişim Bilgilerini Ekle</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>



